<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>微视 Api</title>
  <link rel="icon" href="/public/favicon.ico">
  <meta name="description" content="Description">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="//unpkg.com/docsify/lib/themes/vue.css">
</head>

<body>
  <section class="cover show" style="background: rgb(255, 255, 255);">
    <div class="cover-main">
      <h1><a href="" data-id="微视-api" class="anchor"><span>微视 Node版 API</span></a></h1>
      <ul>
        <li>定时任务爬取数据</li>
        <li>提供web嵌入和m3u8视频源</li>
        <li>资源来源网络</li>
      </ul>

      <blockquote>
        <p>TODO</p>
      </blockquote>
      <ul>
        <li>后台管理</li>
        <li>待完善文档</li>
      </ul>
      <p><a href="https://github.com/XiqingLiu/VideoServer" target="_blank">GitHub</a>
        <a href="">Get Started</a></p>
    </div>
    <div class="mask"></div>
  </section>
</body>

</html>